HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### front ###
**/dist
**/node_modules
**/.vscode

### files ###
logs
smart-manage-web-old

### AI ###
.claude
.agents
**/.playwright-cli
