.sm-layout {
  height: 100vh;
  overflow: hidden;
}

.sm-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sm-views {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sm-view {
  display: none;
  overflow: hidden;
  background-color: rgb(226, 231, 239);
}

.sm-view--active {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
