/* === 侧边栏 === */

.sm-workspace-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: 122px;
  background-color: var(--sm-color-nav);
  color: #d9d9d9;
  overflow: hidden;
}

.sm-workspace-sidebar--collapsed {
  width: 50px;
}

.sm-workspace-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

/* 菜单滚动区 */
.sm-workspace-sidebar-menu {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 0;
}

.sm-sidebar-skeleton {
  padding: 16px;
}

/* 折叠按钮区 */
.sm-workspace-sidebar-switch {
  display: flex;
  align-items: center;
  height: 40px;
  border-top: 1px solid rgba(218, 222, 237, 0.1);
  flex-grow: 0;
}

.sm-workspace-sidebar-switch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.sm-workspace-sidebar .ant-menu {
  width: 122px;
  font-size: 12px;
}

.sm-workspace-sidebar--collapsed .ant-menu {
  width: 50px;
}

.sm-workspace-sidebar .ant-menu-item,
.sm-workspace-sidebar .ant-menu-submenu-title {
  padding-inline: 14px !important;
}

.sm-workspace-sidebar--collapsed .ant-menu-item,
.sm-workspace-sidebar--collapsed .ant-menu-submenu-title {
  padding-inline: 15px !important;
  justify-content: center;
}

.sm-workspace-sidebar--collapsed .ant-menu-title-content,
.sm-workspace-sidebar--collapsed .ant-menu-submenu-arrow {
  display: none;
}

.sm-workspace-sidebar--collapsed .ant-menu-item-icon,
.sm-workspace-sidebar--collapsed .ant-menu-submenu-title .anticon {
  margin-inline-end: 0 !important;
}
