<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sm.domain.sys.base.menu.mapper.MenuMapper">
    <select id="selectAppInfo" resultType="sm.domain.sys.base.menu.model.vo.MenuAppInfoVO">
        SELECT a.name AS app_name, a.number AS app_number, a.icon AS app_icon,
               b.number AS cloud_number
        FROM t_sys_app a
        LEFT JOIN t_sys_cloud b ON b.id = a.cloud_id
        WHERE a.id = #{appId}
    </select>

    <select id="selectUserMenus" resultType="sm.domain.sys.base.menu.model.entity.MenuEntity">
        SELECT DISTINCT a.*
        FROM t_sys_menu a
        <if test="!admin">
            INNER JOIN t_sys_role_perms b ON b.permission_id = a.permission_id
            INNER JOIN t_sys_user_role c ON c.role_id = b.role_id
        </if>
        WHERE a.app_id = #{appId}
          AND a.level IN (2, 3)
        <if test="!admin">AND c.user_id = #{userId}</if>
        ORDER BY a.level, a.sort, a.create_time
    </select>

    <update id="updateAllColumns">
        UPDATE t_sys_menu
        SET number = #{number},
            name = #{name},
            level = #{level},
            parent_id = #{parentId},
            app_id = #{appId},
            permission_id = #{permissionId},
            path = #{path},
            component = #{component},
            icon = #{icon},
            description = #{description},
            sort = #{sort},
            enabled = #{enabled},
            update_time = #{updateTime},
            update_user = #{updateUser}
        WHERE id = #{id}
    </update>
</mapper>
