<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sm.cloud.sys.base.permission.mapper.PermissionMapper">
    <select id="selectUserPermissionNumbers" resultType="java.lang.String">
        SELECT DISTINCT a.number
        FROM t_sys_permission a
        INNER JOIN t_sys_role_perms b ON b.permission_id = a.id
        INNER JOIN t_sys_user_role c ON c.role_id = b.role_id
        WHERE c.user_id = #{userId}
          AND c.org_id = #{orgId}
        <if test="prefix != null and prefix != ''">
            AND a.number LIKE CONCAT(#{prefix}, '%')
        </if>
    </select>
</mapper>
